{% extends 'layout.html' %} {% block content%}
<h1>About</h1>
<div class="container">
    <h3>Que es esto?</h3>
    <p>
        The Mistborn API es una APIRest que esta basada en la saga de fantasia <a href="https://es.wikipedia.org/wiki/Nacidos_de_la_bruma">Mistborn</a> escrita por <a href="https://es.wikipedia.org/wiki/Brandon_Sanderson">Brandon Sanderson</a>
        Tendras acceso a cientos de personajes, lugares, la magia, etc. Esta información esta recopilada de la <a href="https://coppermind.net/wiki/Coppermind:Welcome">Coppermind</a>. Y tampoco faltaria decir que esta muy influenciada por la <a href="https://rickandmortyapi.com/">Rick and Morty API</a>
    </p>
    
</div>

<div class="docu">
    <a href="/documentation">Pegale un ojo a la documentación</a>
</div>

<div class="container">
    <h3>Quien pija sos vos?</h3>
    <p>
        Un random que sabe lo minimo para programar y decidio hacerle un tributo a una de las mejores sagas de fantasia actualmente.
    </p>
</div>
<div class="container">
    <h3>Que chiches usaste?</h3>
    <p>
        Usé Python y MongoDB para darle vida a esta herrumbrosa API
    </p>
</div>
<div class="container">
    <h3>Y el Copyright??</h3>
    <p>
        No tengo ni idea, si la coppermind se quiere quedar con el proyecto en todo derecho, faltaria más.
    </p>
</div>
{% endblock %}