@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    transition: all 0.2s;
}

body {
    background-color: #eeeeee;
}

.header {
    background-color: #303841;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding-left: 1rem;
    padding: 1.8rem 6rem;
}

.header .logo img{
    margin-right: 10rem;
    height: 2.5rem;
    width: auto;
}

.header .nav-link{
    margin-right: 0rem;
    list-style: none;
}

.header .nav-link a{
    text-decoration: none;
    color: #7aa5d2;
}

.header .nav-link a:hover{
    color: #eeeeee;
}

.header .nav-link li{
    display: inline-block;
    padding: 0 0.3rem;
    margin-left: 0;
}

#inicio {
    background-color: #eeeeee;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center{
    position: absolute;    /* para poder posicionar el texto de forma absoluta */

}

h1 {
    display: inline-block;
    font-size: 6em;
    color: #303841;
}

.images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    filter: invert(100%) sepia(1%) saturate(1039%) hue-rotate(184deg) brightness(116%) contrast(76%);}

.images .ett img{
    padding-right: calc(1em + 1vw);
    padding-left: calc(4em + 4vw);
    float: none;
    margin: 0 auto;
    max-width: calc(5em + 30vw);
    height: auto;
}
.images .ati img{
    float: right;
    max-width: calc(0em + 60%);
    height: auto;
}
.images .leras img{
    float: left;
    max-width: calc(0em + 65%);
    height: auto;
}


#examples {
    background-color: #303841;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1920px;
}

.card {
    width: calc(30em + 2vw);
    height: calc(12em + 2vh);
    display: flex;
    overflow: hidden;
    background: #47555e;
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card img{
    width: 15rem;
    height: 15rem;
    margin: 0px;
    object-position: center center;
}

.card .datos {
    flex: 3 1 0%;
    position: relative;
    padding-left: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.card .datos .desc {
    margin-bottom: 0.35rem;
}

.card .datos a{
    text-decoration: none;
    color: #7aa5d2;
}

.card .datos h2{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    transition: all 0.2s;
}

.card .datos h2:hover{
    color:#eeeeee;
}

.card .datos span{
    font-size: 0.90rem;
    color: rgb(179, 179, 179);
}

.card .datos .coppermind{
    transition: all 0.2s;
}

.card .datos .coppermind:hover{
    color: #ff8d2c;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column ;
    position: relative;
    padding: 2.5rem 0px;
    width: 100%;
    background-color: #47555e;
}

footer ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.7rem;
}

footer ul li + li {
    margin-left: 1.5rem;
}

footer li a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    transition: all 0.2s;
}

footer li a:hover{
    color: #303841;
}

footer .redes{
    display: flex;
    margin: 0px;
    padding: 0px;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    position: relative;
}


footer span a{
    text-decoration: none;
    color: black;
    background: rgb(11,36,71);
    background: radial-gradient(circle, rgba(11,36,71,1) 47%, rgba(25,55,109,1) 78%, rgba(87,108,188,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    padding: 0 0.2rem;
}

footer span a:hover{
    color: transparent;
    transition: 500ms ease;
}

@media (max-width: 1135px){
    .header{
        justify-content: space-around;
        padding: 1.2rem 0;
        height: 20px;
    }
    .header .logo img{
        height: calc(0.5em + 4.5vw);
        width: auto;
    }

    h1{
        
        font-size: calc(1em + 6vw);
        line-height: 1em;
        top: 12%;
    }
    .images .ati img{
        max-width: calc(0.5em + 60%);
    }
    .images .leras img{
        max-width: calc(0.5em + 65%);
    }
    .images .ett img{
        padding-left: calc(2em + 2vw);
    }
    .card{
        width: calc(20em + 10vw);
        height: calc(6em + 10vh);
    }
    .card img{
        width: calc(8em + 5vw);
        height: calc(10em + 5vh);
        margin: 0px;
        object-position: center center;
    }
    .datos{
        margin-top: 0.5em;
        width: calc(1em + 5vw);
        height: calc(1em + 5vh);
        line-height: 1em;
    }
    .card .datos h2{
        font-size: calc(1em + 1vw);
    }
    .card .datos p{
        font-size: calc(0.5em + 1vw);
    }
    .card .datos span{
        font-size: calc(0.4em + 1vw);
    }
    footer li a{
        font-size: calc(0.5em + 1vw);
    }
    .redes span, a{
        font-size: calc(0.6em + 1vw);
    }
}